/* CSS Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-x: hidden;
}

.navbar{
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 0.3rem;
	background: black !important;
	padding: 20px 0;
}

.navbar-dark .navbar-nav .nav-link{
	color: white;
	padding-left: 20px;
}

body {
	font-family: 'Lato', sans-serif;
	}

.offset:before{
	display: block;
	content: "";
	height: 6rem;
}
.heading-content div {
	background: url(./images/bgbg.jpg);
	background-size: 50% 50%;
	background-repeat: no-repeat;
}

.heading-content {
	position: absolute;
	top: 50%;
	width: 100%;
	max-width: 100%;
}

.heading-content h5{
	font-size: 4em;
	font-weight: 300;
	color: #fff;
	font-family: monospace;
}

.heading-content h1{
	font-size: 4em;
	font-weight: bold;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
}

.heading-content p{
	font-size: 1em;
	text-transform: uppercase
	font-weight: lighter;
	color: #ccc;
	word-spacing: 5px;
	letter-spacing: 2px;
}
/* ----------------- About Start -------------------*/
#about .btn {
	border:2px solid red;
	width: 40%;
	padding: 15px 22px;
	background: #000;
	border-radius: 5px;
	margin-top: 10px;
}
#about .btn a{
	color: #fff;
	text-decoration: none;
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
}
#about .btn:hover{
	border:2px solid #1ebba3;
	cursor: pointer;
}

/* ----------------- Contact Us Start -------------------*/

label {
	text-align: left;
}

/* ----------------- Media Query ------------------------*/
@media screen and (max-width: 767px) {
/*Tablets*/
.navbar{
	letter-spacing: 0.3rem;
	padding: 10px 0;
}

.heading-content h5{
	font-size: 3em;
}

.heading-content h1{
	font-size: 3em;
}

.heading-content p{
	font-size: 0.9em;
}
@media screen and (max-width: 479px) {
.navbar{
	letter-spacing: 0.1rem;
	padding: 7px 0;
}

.heading-content h5{
	font-size: 2em;
}

.heading-content h1{
	font-size: 2em;
}

.heading-content p{
	font-size: 0.7em;
}
}